.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.link {
  text-decoration: none;
  color: white;
}
.tarjetas {
  text-align: center;
  padding: 30px;
}

.titulo {
  color: black;
  font-weight: 900;
}
.carrito {
  display: flex;
  padding: 20px;
}
.itemCarrito {
  padding: 10px;
}
.botonera {
  color: white;
  padding: 10px;
}
.precio {
  font-weight: bolder;
  font-size: larger;
  color: rgb(52, 120, 197);
  background-color: rgb(221, 216, 216);
  border-radius: 20px;
}
.menu {
  padding-inline: 20px;
}